
.navbody {
  background-image: url('new.jpg');
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.curr{
  color: rgb(71, 36, 36) !important;
  text-decoration: none;
  position: absolute;
  left: 1%;
}
#spanid{
  position: absolute;
  right:150px;
  top:18px;
}
.alertclass {
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  width: fit-content;
}
.allbtn{
  position: relative;
  bottom: 10px;
}
.profileicon{
  position: fixed;
  right: 0.5%;
}
.currtext{
  color: #5c8fc2;
font-weight: bold;
}
.sent{
  position: sticky;
  top: 25%;
  right: 98%;
}
.sent .currtext{
  display: none;
}
.sent:hover .currtext{
  display: inline-block;
}
.received{
  position: sticky;
  top: 35%;
  right: 93%;
}
.received .currtext{
  display: none;
}
.received:hover .currtext{
  display: inline-block;
}
.compose{
  position: sticky;
  top: 15%;
  right:91%
}
.compose .currtext{
  display: none;
}
.compose:hover .currtext{
  display: inline-block;
}