.sentclass {
    position: fixed;
    left: -1000px; 
    width: 60%;
    height: 90%;
    top: 50px; 
    background-color: #9dc07b;
    transition: left 1s ease; 
}

.sentclass.opensent {
    left: 300px;
    background-image: url(./sent.jpg);
    background-size: cover;
}

.Item {
    border: 2px solid rgb(76, 115, 67);
    width: 60%;
    background-color: rgb(194, 170, 139);
    list-style: none;
  
  
}
.datalist
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
